Flask==3.0.3
Flask-WTF==1.2.1
python-dotenv==1.0.1
Werkzeug==3.0.6
requests==2.32.3
openai==1.6.1
Flask-Dance[google]==7.0.0
oauthlib==3.2.2
flask_cors==5.0.0
confluent_kafka==2.6.1
PyJWT==2.10.1
pyyaml==6.0.2
protobuf==5.29.2
pillow==11.0.0
flask_session==0.8.0
redis==5.2.0
gunicorn==23.0.0
sqlalchemy
psycopg2-binary