Flask
Flask-WTF
python-dotenv
Werkzeug
requests
openai
Flask-Dance[google]
oauthlib
flask_cors
confluent_kafka
PyJWT
pyyaml
protobuf
pillow
flask_session
redis
gunicorn
sqlalchemy
psycopg2-binary
prometheus-client
minio